<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>About</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <div class="logo"><a href="index.html">LAMORAGA</a></div>
                <div class="nav-middle">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="events.html">Events</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <div class="left">
                        <a href="#">Gift Cards</a>
                    </div>
                    |
                    <div class="right">
                        <a href="#">Book Table</a>
                        
                    </div>
                </div>
            </nav>
        </div>
        <div class="abt-slide">
            <h1>Welcome To LAMORAGA</h1>
            <p>Home <img src="../static/img/u_angle-left-b.png" alt=""> About Us</p>
        </div>
    </header>
    <div class="abt-serv">
        <div class="wrapper">
            <div class="top">
                <h5>Our History</h5>
                <img src="../static/img/gold-spoon.png" alt="">
            </div>
            <h2>Serving Customers For Over 8 Years</h2>
            <div class="btm">
                <div class="left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
                    <div class="container">
                        <img src="../static/img/DSC00837.jpg" alt="">
                    </div>
                </div>
                <div class="right">
                    <div class="container">
                        <img src="../static/img/DSC00888.jpg" alt="">
                    </div>
                    <h3>Over The Years</h3>
                    <div class="options">
                        <div class="option">
                            <h3>7+</h3>
                            <img src="../static/img/gold-spoon.png" alt="">
                            <h4>Vegan Options</h4>
                        </div>
                        <img src="../static/img/options-line.png" alt="">
                        <div class="option">
                            <h3>50+</h3>
                            <img src="../static/img/gold-spoon.png" alt="">
                            <h4>Dinner Options</h4>
                        </div>
                        <img src="../static/img/options-line.png" alt="">
                        <div class="option">
                            <h3>10+</h3>
                            <img src="../static/img/gold-spoon.png" alt="">
                            <h4>Tapas</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="happy-hr">
        <div class="wrapper">
            <div class="content">
                <h5>About Us</h5>
                <img src="../static/img/gold-spoon.png" alt="">
            </div>
            <h2>Happy Hours With Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
        </div>
    </div>
    <div class="owner">
        <div class="wrapper">
            <div class="left">
                <img src="../static/img/tom.png" alt="">
            </div>
            <div class="right">
                <div class="top">
                    <div class="word">
                        <h5>Owner's Word</h5>
                    </div>
                    <div>
                        <img src="../static/img/red-spoon.png" alt="">
                    </div>
                    <div class="belief">
                        <h2>What We Believe In</h2>
                    </div>
                </div>
                <div class="mid">
                    <div class="content">
                        <p><img src="../static/img/“.png" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit. <br> auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue ac consequat, aliquam molestie lectus eu. Congue iaculis integer curabitur semper sit nunc.</p>
                    </div>
                </div>
                <div class="btm">
                    <div class="name">
                        <h4>Tom Nutten</h4>
                        <p class="founder">Founder</p>
                    </div>

                    <div class="signature">
                        <p>Tom Nutten</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block"></div>
    <div class="footer">
        <div class="wrapper">
            <div class="contact">
                <div class="top">
                    <h5>Newsletter</h5>
                    <img src="../static/img/red-spoon.png" alt="">
                    <h2>Subscribe To Our Newsletter</h2>
                    <p>And never miss the latest Updates!</p>
                </div>
                <div class="btm">
                    <input type="email" name="email" id="email" value="Email">
                    <label for="email">Subscribe</label>
                </div>
            </div>
            <div class="contact-btm">
                <div class="left">
                    <h4>Contact Us</h4>
                    <p>3936 North Tamiami Trail
                        Naples, Florida 34103</p>
                    <p> (239) 331-3669</p>
                </div>
                <div class="mid">
                    <h2>LAMORAGA</h2>
                    <p>"The best way to find yourself is to lose yourself in the service of others.”</p>
                    <img src="../static/img/gold-spoon.png" alt="">
                    <div class="btm">
                        <img src="../static/img/u_facebook-f.png" alt="">
                        <img src="../static/img/u_twitter-alt.png" alt="">
                        <img src="../static/img/u_instagram.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <h4>Working Hours</h4>
                    <p>Monday-Friday: <br>
                        04:00 pm -9:00 pm</p>
                    <p>Saturday: <br>
                        04:00pm -09:30 pm</p>
                </div>
            </div>
            <div class="bottom">
                <p>2022 LAMORAGA. All Rights reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>