<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <form action="{{ url_for('save_post') }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="content" placeholder="Content">
        <input class="file-upload-input" type="file" name="cover" onchange="readUrl(this)" accept="Image/*">
        <input type="submit" value="Save">
    </form>
    {% for post in posts %}
        <div class="post">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <img src="../static/blob_imgs/{{ post.cover.filename }}" alt="">
            {% for name in blog_imgs %}
                {% if post.cover == name %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>