<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="blog_form">
        <div class="wrapper">
            <form action="{{ url_for('save_post') }}" method="POST" enctype="multipart/form-data">
                <h1>Blog</h1>
                <input type="text" name="title" placeholder="Title">
                <input type="text" name="intro" placeholder="intro">
                <input type="text" name="par1heading" placeholder="par1heading">
                <input type="text" name="par1" placeholder="par1">
                <input type="text" name="par2heading" placeholder="par2heading">
                <input type="text" name="par2" placeholder="par2">
                <input type="text" name="par3heading" placeholder="par3heading">
                <input type="text" name="par3" placeholder="par3">
                <input type="text" name="sumheading" placeholder="sumheading">
                <input type="text" name="summary" placeholder="summary">
                <input class="file-upload-input" type="file" name="cover" onchange="readUrl(this)" accept="Image/*">
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</body>
</html>