<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Events</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html">LAMORAGA</a></div>
            <div class="nav-middle">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="events.html">Events</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <div class="left">
                    <a href="#">Gift Cards</a>
                </div>
                |
                <div class="right">
                    <a href="#">Book Table</a>
                    
                </div>
            </div>
        </nav>
        <div class="wrapper">
        </div>
        <div class="event-slide">
            <h1>Events</h1>
            <p>Home <img src="../static/img/u_angle-left-b.png" alt=""> Events</p>
        </div>
    </header>
    <div class="events">
        <div class="wrapper">
            <div class="left">
                <img src="../static/img/even1.png" alt="">
            </div>
            <div class="right">

            </div>
        </div>
    </div>
    <div class="block"></div>
    <div class="footer">
        <div class="wrapper">
            <div class="contact">
                <div class="top">
                    <h5>Newsletter</h5>
                    <img src="../static/img/red-spoon.png" alt="">
                    <h2>Subscribe To Our Newsletter</h2>
                    <p>And never miss the latest Updates!</p>
                </div>
                <div class="btm">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <label for="email">Subscribe</label>
                </div>
            </div>
            <div class="contact-btm">
                <div class="left">
                    <h4>Contact Us</h4>
                    <p>3936 North Tamiami Trail
                        Naples, Florida 34103</p>
                    <p> (239) 331-3669</p>
                </div>
                <div class="mid">
                    <h2>LAMORAGA</h2>
                    <p>"The best way to find yourself is to lose yourself in the service of others.”</p>
                    <img src="../static/img/gold-spoon.png" alt="">
                    <div class="btm">
                        <img src="../static/img/u_facebook-f.png" alt="">
                        <img src="../static/img/u_instagram.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <h4>Working Hours</h4>
                    <p>Monday-Friday: <br>
                        04:00 pm -9:00 pm</p>
                    <p>Saturday: <br>
                        04:00pm -09:30 pm</p>
                </div>
            </div>
            <div class="bottom">
                <p>2022 LAMORAGA. All Rights reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>