<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAMORAGA</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <div class="logo"><a href="#">LAMORAGA</a></div>
                <div class="nav-middle">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="events.html">Events</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <div class="left">
                        <a href="#">Gift Cards</a>
                    </div>
                    |
                    <div class="right">
                        <a href="#">Book Table</a>
                        
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero">
            <div class="hashtag">
                <div class="left">#vegetarian</div>
                <div class="right">#paella</div>
            </div>
            <div class="slider">

            </div>
            <div class="scroll">

            </div>
            <div class="Content">
                <div class="content">
                    <div class="top">
                        <h5>Chase The New Flavour</h5>
                        <img src="../static/img/red-spoon.png" alt="red spoon">
                    </div>
                    <h1>The Key To Fine Dining</h1>
                    <div class="middle">
                        <p>Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
                    </div>
                    <div class="btn">
                        <a href="#" type="button">Explore Menu</a>
                    </div>
                </div>
                <div class="hero-img">
                    <div class="mask-group">
                        <div class="rectangle">
                            <img src="../static/img/IMG_0646.jpg" alt="">
                        </div>
                    </div>
                    <div class="rectangle21"></div>
                    <div class="rectangle20"></div>
                </div>
            </div>
        </div>
    </header>
    <img src="" alt="">
    <div class="about">
        <div class="wrapper">
            <div class="left">
                <h2>About Us</h2>
                <br>
                <div>
                    <img src="../static/img/red-spoon-left.png" alt="">
                </div>
                <br>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
                </div>
                <br>
                <div class="btn">
                    <a href="#" type="button">Know More</a>
                </div>
            </div>
            <img class="knife" src="../static/img/knife.png" alt="">
            <h1 class="letter">L</h1>
            <div class="right">
                <h2>Our History</h2>
                <br>
                <div>
                    <img src="../static/img/red-spoon-right.png" alt="">
                </div>
                <br>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.</p>
                </div>
                <br>
                <div class="btn">
                    <a href="#" type="button">Know More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="reservations">
        <div class="wrapper">
            <div class="icon">
                <img src="../static/img/double-spoons.png" alt="">
            </div>
            <div class="top">
                <h5>Reservations</h5>
                <img src="../static/img/gold-spoon.png" alt="">
            </div>
            <h2 class="book">Book A Table</h2>
            <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=138772&type=standard&theme=wide&color=1&dark=false&iframe=true&domain=com&lang=en-US&newtab=false&ot_source=Restaurant%20website'></script>
        </div>
    </div>
    <div class="menu">
        <div class="wrapper">
            <div class="icon">
                <img src="../static/img/double-spoons.png" alt="">
            </div>
            <h2 class="active">Bar Menu</h2>
            <h2>Dinner Menu</h2>
            <h2>Desserts Menu</h2>
        </div>
    </div>
    <div class="specials">
        <div class="wrapper">
            <div class="tiptop">
                <p>Menu that fits your pallete</p>
                <div>
                    <img src="../static/img/gold-spoon.png" alt="">
                </div>
                <h2>Today's Special</h2>
            </div>
            <div class="btm">
                <div class="left">
                    <h2 class="title">Wine & Beer</h2>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <img src="../static/img/bar-kit.png" alt="">
                </div>
                <div class="right">
                    <h2 class="title">Cocktails</h2>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                    <div class="wine">
                        <div class="top">
                            <div class="name">
                                <h5>Chapel Hill Shiraz</h5>
                            </div>
                            <div class="bar-line">
                                <p><hr></p>
                            </div>
                            <div class="price">
                                <h5>$56</h5>
                            </div>
                        </div>
                        <div class="btm">
                            <p>AU | Bottle</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btm-btn">
                <div class="btn">
                    <a href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="owner">
        <div class="wrapper">
            <div class="left">
                <img src="../static/img/tom.png" alt="">
            </div>
            <div class="right">
                <div class="top">
                    <div class="word">
                        <h5>Owner's Word</h5>
                    </div>
                    <div>
                        <img src="../static/img/red-spoon.png" alt="">
                    </div>
                    <div class="belief">
                        <h2>What We Believe In</h2>
                    </div>
                </div>
                <div class="mid">
                    <div class="content">
                        <p><img src="../static/img/“.png" alt=""> Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit. <br> auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue ac consequat, aliquam molestie lectus eu. Congue iaculis integer curabitur semper sit nunc.</p>
                    </div>
                </div>
                <div class="btm">
                    <div class="name">
                        <h4>Tom Nutten</h4>
                        <p class="founder">Founder</p>
                    </div>

                    <div class="signature">
                        <p>Tom Nutten</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <img class="spoons" src="../static/img/double-spoons.png" alt="">
        <div class="wrapper">
            <div class="top">
                <h5>Testimonials</h5>
                <div>
                    <img src="../static/img/gold-spoon.png" alt="">
                </div>
                <h2>Happy Customers</h2>
            </div>
            <div class="btm-grid">
                <div class="grid-item">
                    <img src="../static/img/grid-1.png" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                        <h4>Wade Warren</h4>
                        <p class="title">Sommelier</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="../static/img/grid-2.png" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                        <h4>Wade Warren</h4>
                        <p class="title">Chef</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="../static/img/grid-4.png" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                        <h4>Wade Warren</h4>
                        <p class="title">Chef</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="../static/img/grid-3.png" alt="">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.</p>
                        <h4>Wade Warren</h4>
                        <p class="title">Caterer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="laurels">
        <div class="wrapper">
            <div class="left">
                <div>
                    <h5>Awards & Recognition</h5>
                    <img src="../static/img/gold-spoon.png" alt="">
                </div>
                <h2>Our Laurels</h2>
                <div class="grid">
                    <div class="grid-item">
                        <div class="icon">
                            <img src="../static/img/paradise-coast-icon.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Paradise Coast - Award Wining Restaurants</h5>
                            <p>Featuring a menu that blends Spanish tapas with Mediterranean fusion, <strong>Lamoraga</strong> is a restaurant where sharing isn't just allowed - it's encouraged.</p>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="icon">
                            <img src="../static/img/trip-advisor-icon.png" alt="">
                        </div>
                        <div class="content">
                            <h5>Trip Advisor - Travelers' Choice 2022</h5>
                            <p>When in Naples, do not miss this place! The food was incredible and it has a sheik, trendy atmosphere! </p>
                        </div>
                    </div>
                    <div class="grid-item"></div>
                    <div class="grid-item"></div>
                </div>
            </div>
            <div class="right">
                <img src="../static/img/mushroom-roll.png" alt="">
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="wrapper">
            <h1>Blog</h1>
        </div>
    </div>
    <div class="gallery">
        <div class="wrapper">
            <div class="left">
                <div>
                    <h5>Instagram</h5>
                    <img src="../static/img/gold-spoon.png" alt="">
                </div>
                <h2>Photo Gallery</h2>
                <div class="btm">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mu.</p>
                    <div class="btn">
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="mask-group">
                    <div class="rectangle">
                        <img src="../static/img/IMG_0470.jpg" alt="">
                    </div>
                    <div class="rectangle dub">
                        <img src="../static/img/IMG_0471.jpg" alt="">
                    </div>
                    <div class="rectangle rub">
                        <img src="../static/img/IMG_0440.jpg" alt="">
                    </div>
                    <div class="rectangle sub">
                        <img src="../static/img/IMG_0561.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block"></div>
    <div class="footer">
        <div class="wrapper">
            <div class="contact">
                <div class="top">
                    <h5>Newsletter</h5>
                    <img src="../static/img/red-spoon.png" alt="">
                    <h2>Subscribe To Our Newsletter</h2>
                    <p>And never miss the latest Updates!</p>
                </div>
                <div class="btm">
                    <input type="email" name="email" id="email" value="Email">
                    <label for="email">Subscribe</label>
                </div>
            </div>
            <div class="contact-btm">
                <div class="left">
                    <h4>Contact Us</h4>
                    <p>3936 North Tamiami Trail
                        Naples, Florida 34103</p>
                    <p> (239) 331-3669</p>
                </div>
                <div class="mid">
                    <h2>LAMORAGA</h2>
                    <p>"The best way to find yourself is to lose yourself in the service of others.”</p>
                    <img src="../static/img/gold-spoon.png" alt="">
                    <div class="btm">
                        <img src="../static/img/u_facebook-f.png" alt="">
                        <img src="../static/img/u_twitter-alt.png" alt="">
                        <img src="../static/img/u_instagram.png" alt="">
                    </div>
                </div>
                <div class="right">
                    <h4>Working Hours</h4>
                    <p>Monday-Friday: <br>
                        04:00 pm -9:00 pm</p>
                    <p>Saturday: <br>
                        04:00pm -09:30 pm</p>
                </div>
            </div>
            <div class="bottom">
                <p>2022 LAMORAGA. All Rights reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>