<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAMORAGA</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="wrapper">
            <nav>
                <div class="logo"><a href="#">LAMORAGA</a></div>
                <div class="nav-middle">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Events</a></li>
                    </ul>
                </div>
                <div class="nav-right">
                    <div class="left">
                        <a href="#">Gift Cards</a>
                    </div>
                    |
                    <div class="right">
                        <a href="#">Book Table</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero">
            <div class="hashtag">
                <div class="left">#vegetarian</div>
                <div class="right">#paella</div>
            </div>
            <div class="slider">

            </div>
            <div class="scroll">

            </div>
            <div class="Content">
                <div class="content">
                    <div class="top">
                        <h5>Chase The New Flavour</h5>
                        <img src="../static/img/red-spoon.png" alt="red spoon">
                    </div>
                    <h1>The Key To Fine Dining</h1>
                    <div class="middle">
                        <p>Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus </p>
                    </div>
                    <div class="btn">
                        <a href="#" type="button">Explore Menu</a>
                    </div>
                </div>
                <div class="hero-img">
                    <div class="mask-group">
                        <div class="rectangle">
                            <img src="../static/img/IMG_0646.jpg" alt="">
                        </div>
                    </div>
                    <div class="rectangle21"></div>
                    <div class="rectangle20"></div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>